<h1>
  {{title}}
</h1>
<div *ngFor="let voto of votos">
  <input-component voto="{{voto.title}}" (addVoto)="addVoto($event)"></input-component>
</div>
<h3>{{votacion}}</h3>


<h2>Conversor</h2>
<div>Cantidad: <input [(ngModel)]="cantidad"></div>
<div>1 dolar es : <input [(ngModel)]="factor"></div>
<p myHighlight gigant>
  Oh: {{cantidad | conversorPipe: factor}}
</p>


<ul>
  <li *ngFor="let ticket of ticketFirebase | async" gigant (click)="verTicket(ticket.id)">
    <b>Ticket N: {{ticket.id}}</b> - {{ticket.titulo}} 
    <span myHighlight>[ {{ticket.estado}} ]</span>
  </li>
</ul>

<ul>
  <li *ngFor="let ticket of tickets" gigant (click)="verTicket(ticket.id)">
    <b>Ticket N: {{ticket.id}}</b> - {{ticket.titulo}} 
    <span myHighlight>[ {{ticket.estado}} ]</span>
  </li>
</ul>


<form [formGroup]="myForm" 
    (ngSubmit)="onSubmit(myForm.value)" 
>
  <div>
    <label for="nameInput">Nombre</label>
    <input type="text" id="nameInput" placeholder="Nombre" name="name" 
    [formControl]="myForm.controls['name']" >
  </div>
  <button type="submit">Submit</button>
</form>



<button (click)="increment()">Incrementar</button>
<div>Counter: {{ counter | async }}</div>
<button (click)="decrement()">Decrementar</button>

<button (click)="reset()">Resetear Counter</button>



<p gigant>Progress: {{progress}}%</p>
<p gigant *ngIf="progress >= 100">Done processing {{label}} of Angular zone!</p>

<button gigant (click)="processWithinAngularZone()">Process within Angular zone</button>
<button gigant (click)="processOutsideOfAngularZone()">Process outside of Angular zone</button>