.rojo{
    background: red;
}
.verde{
    background: green;
}
.azul{
    background: blue;
}
.violeta{
    background: lightpink;
}
.amarillo{
    background: yellow;
}

.height100{
    height: 100px;
}